doctype html
html(lang="en")
  head
    include layouts/_Settings.pug
    -
        path='account.html';
        pageTitle='最新消息';
        infoTitle='遊戲最新的第一手消息';
        description='為您提供遊戲最新的第一手消息';
        image='';
    include layouts/_Head.pug
  body 
    include layouts/_Header.pug
    include layouts/_Scripts.pug