doctype html
html(lang="en")
  head
    include layouts/_Settings.pug
    -
        path='gallery.html';
        pageTitle='美術圖';
        infoTitle='遊戲和同人圖';
        description='為您提供最新美術概念和玩家二創圖圖';
        image='';
    include layouts/_Head.pug
  body 
    include layouts/_Header.pug
    include layouts/_Scripts.pug