doctype html
html(lang="en")
  head
    include layouts/_Settings.pug
    -
        path='login.html';
        pageTitle='帳號註冊';
        infoTitle='成為我們的用戶';
        description='幫助您提供遊戲的第一個帳戶';
        image='';
    include layouts/_Head.pug
  body 
    include layouts/_Header.pug
    include layouts/_Scripts.pug