doctype html
html(lang="en")
  head
    include layouts/_Settings.pug
    -
        path='product.html';
        pageTitle='服務項目';
        infoTitle='暢玩方案';
        description='為您提供最適合的遊玩方案';
        image='';
    include layouts/_Head.pug
  body 
    include layouts/_Header.pug
    include layouts/_Scripts.pug